.page-header {

    border-radius: 12px;
}

.page-header-shadow {
    
    
    filter:drop-shadow(5px 5px 7px #191919);
    overflow: hidden;
}

.shadow-button {
    filter:drop-shadow(5px 5px 5px #191919);
}

.card-header-area {

    font-family: Quicksand;
}

.card-footer-area {

    height: 50px;
}

.card-body-area {

    font-family: Roboto;
}