.page-header {

    border-radius: 12px;
}

.page-header-shadow {
    
    
    filter:drop-shadow(5px 5px 7px #191919);
    overflow: hidden;
}

.shadow-button {
    filter:drop-shadow(5px 5px 5px #191919);
}

.card-header-area {

    font-family: Quicksand;
}

.card-footer-area {

    height: 50px;
}

.card-body-area {

    font-family: Roboto;
}

.card-area-category-page {

    border-left: 0;
    border-right: 0;
}

.card-footer-area-category-page {

    height: 30px;
}

.button-page-top {

    font-family: Quicksand;
    font-size: 20px;
}

.card-question-item {

    border-radius: 50%;
}

.card-question-item-header {

    height: 85px;
}

.quiz-page-button-area {
    height: 75px;
}

.answers-submitted-success {

    font-family: Quicksand;
}

.btn-back-submit-page {

    font-family: Roboto;
    color: white
}